* {
  box-sizing: border-box;
}

/* Vue-code Over-ride */

/************BANNER************/
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/tutor7.jpg);
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  background-position: right center;
  background-repeat: no-repeat;
}

.us-banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/us.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.836)),
    url(/images/us.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-blend-mode: darken; */
}

.counsel-banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/counsel.png);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.counsel-banner-half {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/counsel.png);
  object-fit: cover;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
}

.counsellor-banner {
  width: 100%;
  height: 7%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/counsel.png);
  object-fit: cover;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
}

.consult-banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/consul2.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-half {
  width: 100%;
  height: 60vh;
  max-height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/us.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-smile {
  width: 50%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.353), rgba(0, 0, 0, 0.307)),
    url(/images/tutorSmile.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-size: 1.7rem;
  padding-left: 5px;
  font-weight: 800;
  font-family: "merriweather", Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand:hover {
  color: black;
}

.menu-link {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3 rem;
}

.logo {
  width: 6rem;
  height: auto;
}

/* .aside {
  border-right: 1px black solid;
} */

.tutor-sidebar {
  position: fixed;
  width: 15vw;
}

.dictionary {
  max-height: 410px;
  overflow-y: scroll;
}

.side-bar {
  position: fixed;
  width: 15%;
}
.top-bar {
  position: fixed;
  width: 82%;
  z-index: 9;
  margin-bottom: 5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.dropdown-content a {
  text-decoration: none;
  font-size: 0.9rem;
  background-color: red;
}

.dropdown-content a:hover {
  display: block;
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/************NAVBAR**************/
.container-sm {
  margin: auto auto;
  width: 95%;
}

/* .container-full {
  margin: auto auto;
  width: 100%;
} */

.container-faq {
  margin: auto auto;
  width: 95%;
}

.container-apply {
  width: 60%;
  margin: auto auto;
  /* padding: 0 7%; */
}

.content {
  width: 100%;
  position: absolute;
  top: 40%;
  color: white;
}

/*************HERO-SECTION**********/

.button-hero:hover {
  background-color: black;
  outline: 2px solid red;
}

.hero-header {
  font-size: 2.6rem;
  padding: 0 9%;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  padding-bottom: 1rem;
}

.hero-home {
  border-bottom: 6px solid red;
}

.hero-text {
  padding: 0 9%;
  margin-top: 0;
  font-size: 1.4rem;
  /* text-align: left; */
  background-color: (rgba(0, 0, 0, 0.2));
  font-family: "Kanit", sans-serif;
  font-weight: 350;
  text-align: left;
}

.button-hero {
  background-color: red;
  color: #fff;
  padding: 2% 1%;
  margin: auto auto;
  margin: 10px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 5px;
}

.search-form {
  padding: 0 10%;
  border-radius: 10px;
}

.search-form:focus {
  background-color: #00000099;
  color: #fff;
}

.search-button {
  /* background-color: red; */
  color: #000;
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  background-color: #0ecaf0;
}

.consultantPic {
  max-width: 100%;
}

.search-button:hover {
  background-color: green;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* .phone {
  width: 18%;
  position: absolute;
  top: 140px;
  right: 60px;
  z-index: 3;
  transform: rotate(20deg);
} */

.menu {
  position: relative;
}

.menu-link {
  font-size: 1.2rem;
}

.menu-link::after {
  content: "";
  height: 3px;
  width: 0;
  background: red;
  position: absolute;
  left: 20px;
  bottom: -2px;
  transition: 0.5s;
}

.menu-link:hover::after {
  width: 60%;
  margin: auto auto;
}

/**************SERVICES*******************/

.services {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  z-index: 5;
  bottom: 45px;
  background-color: #efefef;
}

.services-apply {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  z-index: 1;
  bottom: 7rem;
  background-color: #efefef;
}

.story {
  margin-top: 30%;
  /* align-items: center; */
}

.smile {
  display: none;
}

.banner-smile:hover + .smile {
  display: block;
  background-color: #bb2525;
}

/* #aboutUs {
  max-height: 80vh;
  height: 70vh;
  margin: 8% 0;
} */

.iframe {
  width: 920;
  height: 569;
}

.service-header {
  color: #efefef;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  padding: 5px 3px;
  margin-top: 10px;
  background-color: red;
}

.service-header:hover {
  background-color: black;
  color: #fff;
}

.service-image {
  width: 85%;
  padding-top: 15px;
  margin: auto;
}

.help-image {
  width: 85%;
  padding: 15px 10px;
  margin: auto;
  border-radius: 50%;
  height: 35vh;
}

.service-text {
  font-family: "roboto", sans-serif;
  padding: 0.3rem;
  font-size: 1rem;
}

.btn-service {
  width: 65%;
  margin: auto auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 7px 7px;
  font-family: "merriweather", sans-serif;
  font-size: 1.1rem;
}

.btn-more {
  width: 40%;
  margin: auto auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 3px 7px;
  font-family: "merriweather", sans-serif;
  font-size: 0.9rem;
}

.btn-service:hover {
  background-color: black;
}

.skill-info .counselling-info .tuition-info {
  width: 30px;
}

.con-image {
  width: 75%;
  border-radius: 50%;
}

.caller {
  width: 65%;
}
/****************WHO WE ARE***************/
#about {
  padding: 3%;
  background-color: #bb2525;
}

.about-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6rem;
  font-weight: 800px;
  color: #fff;
}

.about-image {
  width: 100%;
}

#about-us {
  background-color: #bb2525;
}
.about-tuition-image {
  width: 95%;
  /* height: 80%; */
  height: auto;
  padding: 2% 5%;
}

.about-text {
  line-height: 1.6;
  font-family: "Kanit" Georgia, "Times New Roman", Times, serif;
  font-size: 1.4vw;
  color: #fff;
  /* font-weight: 200; */
}

/***************CHOOSE US*****************/

.choose-title {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  color: #a73121;
  font-size: 2.3vw;
}

.choose-header {
  font-family: "Merriweather", sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem 0;
}

.choose-text {
  font-family: "Kanit", sans-serif;
  font-size: 1.1rem;
}

.icon {
  color: red;
  font-size: 3rem;
}

.icon:hover {
  color: black;
}

/**************TESTIMONIAL***************/

/* .caro-icon {
  background-color: #fff;
  border-radius: 50%;
} */

/***********CLIENT FORMS ************/
/* #student,
#option {
  display: none;
} */

.client-form-footer {
  display: inline-block;
  font-size: 0.9rem;
  font-family: "Kanit", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.3rem 5px;
  border-radius: 5px;
}

.client-apply {
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  z-index: 1;
  bottom: 3.5rem;
  background-color: #efefef;
}

.client-banner {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/us.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tutor-profile-banner {
  width: 100%;
  height: 28vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/us.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tutor-banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/us.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tutor-profile-hero {
  color: #fff;
  text-align: start;
  margin-top: 1.4%;
  margin-left: 2%;
  backdrop-filter: blur(3px);
}

.label-counselling {
  display: flex;
  justify-content: start;
}

/* FAQ PAGE */
.letter,
.faqBody {
  text-align: left;
  padding: 2% 12%;
}

.form-check-input {
  outline: 2px solid red;
}

.faq-help {
  background-color: #0d6efd;
  padding: 2% 12%;
  color: #fff;
  margin-bottom: 2%;
}

/* #tutorFaq {
  display: none;
} */

/* .form-apply-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.541)),
    url(/images/teaching.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  padding: 0;
} */

/* Link Styling */
/* a {
  color: #fff;
  text-decoration: none;
} */

.tutor-registration {
  width: 87%;
  margin: auto auto;
  height: 55vh;
}

.apply-wall {
  margin: auto auto;
}

.apply-input {
  width: 100%;
  margin-bottom: 1%;
  padding: 0.33rem 0.8rem;
}

.apply-sm-input {
  width: 25%;
  margin-bottom: 2%;
  padding: 0.33rem 0.8rem;
}

.apply-md-input {
  width: 45%;
  margin: 2%;
  padding: 0.33rem 0.8rem;
}

.apply-select {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 8rem;
}

.form-apply {
  width: 85%;
  margin: auto auto;
}

.filter {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.transparent {
  background: transparent;
  backdrop-filter: blur(10px);
}

.round {
  border-radius: 50%;
}
/* .btn-prev-next {
  width: 5rem;
} */

.apply-header {
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 0;
}

.label {
  display: flex;
  justify-content: start;
}

.legend {
  text-align: left;
  font-size: 1.2rem;
  padding: 10px 0;
  font-family: "Pt Sans", sans-serif;
  font-weight: 900;
}

.btn-check-o {
  width: 5rem;
}

#grad {
  display: none;
}

.apply-textarea {
  margin: 1% 0;
  width: 90%;
}

.apply-body {
  font-family: "Pt Sans", sans-serif;
  font-size: 1.031rem;
  padding-right: 5%;
  color: #fff;
  line-height: 1.5;
}

.btn-toggle {
  padding: 0.3rem 3rem;
}

.btn-select {
  width: 2rem;
}

.clientForm {
  height: 75vh;
}

/* Tutor fields */

.tutorContact {
  background-color: #0d6efd;
  color: #fff;
  margin-top: 10rem;
  padding: 0.8rem;
  width: 70%;
  font-family: "merriweather", sans-serif;
  box-shadow: 10px 10px #fff;
}

/* #lesResource {
  display: none;
} */

.image-link {
  width: 50%;
  margin: auto auto;
  padding: 5px;
}

.fieldset {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/tutor1.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  padding: 10px 15px;
  display: none;
}

.motivate {
  font-size: 1.8vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2;
}

#challenge {
  height: 50px;
}

/*************TAGS***********/
hr {
  border-bottom: 5px dashed red;
  width: 5%;
  margin: auto auto;
  display: hidden;
  padding: 0 1%;
  /* border-radius: 10%; */
}

.hr {
  display: block;
  border-bottom: 5px double red;
  width: 30vw;
  margin: auto auto;
}

body {
  background-color: #ece2e1;
  text-align: center;
  box-sizing: border-box;
}

/* UTILITY CLASSES */

/* border */
.bl {
  border-left: 6px solid red;
  height: 2rem;
}

.br {
  border-right: 6px solid red;
  height: 2rem;
}

/***************TUTORS*****************/

#profile {
  margin: auto auto;
}

/* .profile {
  background-color: #e5d4ff;
} */

.profile-pic {
  margin: 2rem;
  width: 50%;
  height: auto;
  border-radius: 100%;
}

.fs-beauty {
  font-family: "Kanit", "Pt-Sans";
}

.pdf {
  width: 80vw;
  height: 150vh;
}

.link-user {
  text-decoration: none;
  color: #fff;
  padding: 0.5vw;
  display: block;
  margin: 5px 0;
  font-size: 2.3dvh;
}

.resource-frame {
  width: 100%;
  height: 85vh;
  margin: 2% 0;
}

.link-user:hover {
  border-right: 6px solid #38ac0a;
  background-color: #bb2d3b;
}

.tutor-intro {
  margin: 15px 0;
}

.option-icon {
  font-size: 5vw;
  color: #bb2525;
  margin: 3vw 0;
}

.tutor-header {
  margin-top: 3%;
  font-family: "Merriweather", sans-serif;
  font-weight: 500;
}

.myCard {
  width: 80%;
  margin: auto auto;
  box-shadow: 1px 3px 1px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  transform: scale(1.1);
}

.hoverTutor {
  transition: 0.3s;
}

.hoverTutor:hover {
  transform: scale(1.1);
  border-bottom: 6px solid green;
}

.card-offer {
  width: 90%;
  margin: auto auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: 0.3s;
}

.card-body {
  box-shadow: 3px 4px 2px 3px;
}

.card-footer {
  padding: 4px 6px;
  list-style-type: none;
  line-height: 30px;
}

.offer-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8vw;
  color: #fff;
  padding: 7% 3%;
  padding-top: 10%;
  background-color: #ed7676;
}

.offer-intro {
  padding: 0 12%;
  line-height: 1.3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6vw;
}

.slide-head {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.9vw;
  padding: 1%;
}

.slide-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8vw;
  line-height: 1.3;
  padding: 0 5%;
}

/* .input {
  width: 70vw;
} */

#offers {
  text-align: center;
  /* background-color: #ffeadd; */
}

/***************CONTACT*****************/

#contact {
  color: #fff;
  line-height: 2;
  font-size: 1.5rem;
  padding: 10px;
}

.contact {
  position: relative;
  bottom: 50px;
  z-index: 5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/**************FOOTER*****************/
#footer {
  padding: 10%;
}
.footer-icons {
  color: red;
  /* background-color: #bb2525; */
  font-size: 2rem;
  margin: 0 7px;
  padding-bottom: 2%;
}

.footer-title {
  font-size: 3vw;
}

.footer-copyright {
  font-size: 1.5vw;
}

.laptop {
  position: relative;
}

/* Contact Email and Phone */
.phone {
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid white;
  border-radius: 10px;
  width: 60%;
  padding: 5% 3%;
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.email {
  background-color: green;
  border-radius: 10px;
  width: 60%;
  padding: 5% 3%;
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.mail,
.tel {
  font-size: 1.7vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Sign-in */
.form-sign-in {
  width: 82vw;
  padding: 2rem 1rem;
}

.sign-in-message {
  padding-top: 3rem;
}

.sign-in {
  width: 75%;
  height: auto;
  text-align: center;
  border-radius: 5%;
  padding: 10%;
  margin: 10% auto;
  background-color: rgba(0, 0, 0, 0.65);
}

.sign-text {
  color: #dfd7bf;
  text-align: center;
  padding: 22% 7% 0;
}

.sign-logo {
  position: absolute;
  top: 5%;
  left: 6%;
  font-size: 2vw;
}

.sign-text p {
  font-family: sans-serif;
  font-weight: 200px;
  font-size: 1.3vw;
  line-height: 1.6;
}

/* .login-text {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
} */

.login {
  backdrop-filter: blur(10px);
}

.link {
  text-decoration: none;
  color: #dfd7bf;
  padding: 0 0.4rem;
}

/* .link:hover {
  border-bottom: 0.3rem solid red;
  background-color: red;
  padding: 0.2rem 0.5rem;
  border-radius: 30%;
} */

/* .fa {
  font-size: 1.7vw;
  padding-top: 5%;
  margin-right: 3%;
  color: white;
} */

.click {
  border-bottom: 2px solid green;
  color: #fff;
  padding: 2px 3px;
}

/**************SHADOWS************************/
.shadow-one {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.blur {
  backdrop-filter: contrast(10px);
  z-index: 900;
  /* -webkit-backdrop-filter: blur(5px); */
}

.shadow-drop {
  backdrop-filter: drop-shadow(4px 4px 10px blue);
}

.shadow-two {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.shadow-three {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/*************ADMIN CATEGORY*****************/
.nav-stick {
  position: fixed;
  /* left: 0; */
  top: 20%;
  height: 100%;
  margin: auto auto;
  overflow: hidden;
  /* display: block; */
}

.panel {
  background-color: #fff;
  color: #000;
}

.admin-link {
  padding: 8rem 0.8rem;
}

.admin-logo {
  width: 2rem;
}

.admin-ul {
  text-decoration: none;
  list-style-type: none;
  padding: 3rem 0.8rem;
  height: 100%;
}

.view-height {
  height: 100%;
}

.admin-body {
  width: 100%;
  margin: auto auto;
}

.admin-list {
  text-decoration: none;
  padding: 5% 0;
  display: flex;
  justify-content: start;
  color: #fff;
  padding-left: 1rem;
}

.admin-list:hover {
  background-color: #1a5d1a;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-right: 5px red solid;
}

.admin-side {
  background-color: #1a611a;
}

.admin-icon {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 0.1rem;
  margin-right: 1rem;
  width: 1.3rem;
  /* padding: 0 1rem; */
}

.tutorIcon {
  font-size: 90%;
  width: 14%;
  /* color: red; */
  /* border-radius: 100%; */
}

.table-responsive {
  max-height: 500px;
}

/* .admin-icon:hover {
  color: #fff;
} */

.dash-text {
  color: #000;
}

.admin-pic {
  width: 8vw;
  border-radius: 100%;
  padding: 3% 0;
}

.admin-sideBar {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.tutor,
.revenue,
.profit,
.client {
  height: 7rem;
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  border-radius: 5px;
  padding-top: 2rem;
  font-weight: 900;
  font-family: "Kanit" "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.motivation {
  border-left: 6px solid #a73121;
  color: #000;
  width: 100%;
  margin: auto auto;
  height: 18rem;
  background-color: white;
}

.to-do {
  width: 100%;
  margin: auto auto;
  padding: 0 10rem;
  border-left: 6px solid #478534;
  color: #000;
  height: 18rem;
}

.item {
  /* min-height: 60px; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.todoList:checked + p {
  text-decoration: 3px line-through;
  text-decoration-color: red;
  /* display: flex; */
  /* align-items: center; */
}

.currentMessage {
  font-size: 1rem;
  padding: 0.3rem 0;
  color: #000000c5;
}

.section {
  padding: 3% 0;
  margin: 2% 0;
}
.to-do,
.motivation {
  padding: 3% 0;
  border-radius: 10px;
}

.client {
  border-left: 6px solid #bb2525;
  color: #bb2525;
}

.revenue {
  border-left: 6px solid #4e4feb;
  color: #4e4feb;
}

.tutor {
  border-left: 6px solid rgb(18, 102, 18);
  color: green;
}

.profit {
  border-left: 6px solid #0c356a;
  color: #0c356a;
}

.date {
  border-left: 6px solid #4e4feb;
  color: #000;
}
.search-panel {
  color: #000;
  padding: 0.8% 1%;
  margin-left: 5px;
}

.search-panel:hover {
  border-bottom: 6px solid #a73121;
}

.calender {
  border-left: 6px solid #000;
  color: #000;
  padding: 8% 0;
}

.reader {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  margin: 2%;
}

/* TUTOR USER PAGE */
.profile-input {
  width: 80%;
  border: none;
  height: 2.3rem;
  padding: 1.3% 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.profile-input-textarea {
  width: 80%;
  border: none;
  height: 4rem;
  padding: 1.3% 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-text {
  position: fixed;
}

.profile-label {
  display: flex;
  justify-content: start;
  margin-left: 1rem;
}

.notice {
  border-top: 10px green solid;
  margin: 0.4%;
}

.caro-item-about {
  height: 280px;
}

.quote {
  border-top: 10px #9dabf3 solid;
  background-color: #fff;
}

.container-minute {
  width: 75%;
  margin: auto auto;
}

.bottom-nav {
  display: inline-flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.nav-link,
.nav-item i {
  color: #fff;
}

.notice,
.quote {
  border-radius: 1%;
  padding: 1% 3%;
  /* margin: 0 2%; */
  height: 39vh;
}

.danger {
  color: #fff;
  background-color: #bb2525;
}

#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

/* #profile-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  padding-left: 5rem;
} */

#profilePic {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#profilePic:hover {
  background-color: #a73121;
}
/* #loading-spinner {
  display: none;
} */

/*******************RESPONSIVE**************/

@media (max-width: 1028px) {
  .logo {
    display: none;
  }

  .content {
    position: absolute;
    top: 50%;
    padding: 3%;
    line-height: 1;
  }

  .hero-header {
    font-size: 1.7rem;
    text-align: center;
  }

  .banner {
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .choose-title {
    font-size: 3.8vw;
  }

  .hero-text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: "Kanit", sans-serif;
    padding: 2px;
    text-align: center;
  }

  .banner,
  .footer,
  .footer {
    position: static;
  }

  .myCard .card-offer {
    max-width: 47%;
    height: auto;
    padding-bottom: 2%;
  }

  .container-sm {
    max-width: 99%;
    margin: auto auto;
  }

  .services {
    position: relative;
    bottom: 15px;
    z-index: 2;
  }

  .container-minute {
    width: 95%;
    margin: auto auto;
  }

  .motivate {
    font-size: 3vw;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    line-height: 1.5;
  }

  .contact {
    position: relative;
    bottom: 15px;
    z-index: 3;
  }

  .banner-smile {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.353),
        rgba(0, 0, 0, 0.307)
      ),
      url(/images/tutorSmile.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn-service,
  .help-image,
  .service-image {
    width: 75%;
    margin: auto auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .service-text {
    font-size: 1rem;
  }

  .about-header,
  .about-text {
    font-size: 1.3rem;
    line-height: 1.3;
    padding: 5px;
  }

  .testimonial-text {
    color: #fff;
    font-size: 0.6rem;
    line-height: 1.75px;
  }

  dropdown-content {
    width: 100%;
    overflow: auto;
    z-index: 10;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.8);
    width: 65%;
    height: 45%;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    padding: 7px 5px;
    position: absolute;
    top: 53%;
  }

  .offer-header {
    font-family: "merriweather", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5vw;
    padding: 2% 3%;
  }

  .offer-intro {
    padding: 0 12%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 3.5vw;
  }

  .card-offer {
    width: 70%;
    margin: auto auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .form-apply {
    display: inline-block;
    max-width: 100%;
    width: 95%;
  }

  .apply-area {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.686),
        rgba(0, 0, 0, 0.541)
      ),
      url(/images/tutor1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    padding: 0;
    color: #fff;
  }

  .form-sign-in {
    width: 84vw;
    height: 85vh;
    padding: 2rem 1rem;
  }

  /* select {
    display: block;
    width: 100%;
    margin: 5% 0;
    padding: 2% 5%;
    justify-content: center;
  } */

  /* .sign-up {
    height: 78vh;
    max-width: 115vw;
  } */

  .nav-copyright,
  #tutorContactBtn,
  .sign-image,
  .sign-text,
  .sign-logo {
    display: none;
  }

  .tutorText {
    margin-top: 60%;
  }

  .sign-up,
  .sign-in {
    margin: 10%;
    max-width: 100%;
  }

  /* #sign-in {
    position: absolute;
    top: 5%;
    width: 100%;
  } */

  /* .fa {
    font-size: 5vw;
  } */

  .apply-input {
    width: 100%;
  }

  .input {
    width: 90vw;
  }

  .mail,
  .tel {
    font-size: 3.5vw;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .legend {
    text-align: center;
    font-size: 1.2rem;
  }

  .dictionary {
    max-height: 370px;
    overflow-y: scroll;
  }

  .label {
    /* text-align: left; */
    font-size: 1rem;
  }

  .menu-link::after {
    content: "";
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 20px;
    bottom: -2px;
    transition: 0.3s;
  }

  .service-hero-text {
    position: relative;
    top: 15vh;
    margin-top: 20rem;
    /* line-height: 100px; */
  }

  .hero-paragraph {
    padding: 0 8vw;
  }

  .res-hero {
    position: absolute;
    top: 25%;
    padding: 0 5%;
  }

  .apply-sm-input,
  .apply-md-input {
    width: 90%;
    margin: 2%;
    padding: 0.33rem 0.8rem;
  }

  .container-apply {
    width: 90%;
    margin: auto auto;
    margin-top: 17%;
  }

  .login {
    width: 100vw;
    margin: auto auto;
    backdrop-filter: blur(5px);
  }

  .client-form-text {
    margin-top: 9rem;
    /* padding: 0 1rem; */
  }

  .client-banner {
    height: 20vh;
  }

  .tutor-profile-banner {
    height: 3.5%;
  }

  .caro-item-about {
    height: 300px;
    padding: 5% 2%;
  }

  .banner-half {
    width: 100%;
    height: 45vh;
  }

  .container-faq {
    margin: auto auto;
    width: 100%;
  }

  /* Responsive class utility */
  .res-bg-white {
    background-color: #fff;
  }

  .res-d1 {
    margin-top: 25%;
  }

  .tutor-profile-hero {
    color: #fff;
    text-align: start;
    margin-top: 7rem;
    padding-left: 1.5%;
  }

  .nav-logo {
    width: 3.5rem;
  }

  .res-center {
    margin: auto auto;
    width: 100%;
  }

  .caro-item {
    height: 65vh;
  }

  .res-tw {
    color: #fff;
  }
  .res-tb {
    color: #000;
  }

  .res-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  .tutor,
  .revenue,
  .profit,
  .client {
    height: 8rem;
    width: 100%;
    margin: auto auto;
    padding-top: 2rem;
    font-size: 5vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resource-frame {
    width: 100%;
    height: 90vh;
    margin: 4% 0;
  }

  .nav-background {
    background-color: #0000009d;
  }

  .notice {
    height: 50vh;
    /* display: flex;
    justify-content: center;
    margin: 2% 0; */
  }

  .motivation {
    border-left: 6px solid #a73121;
    color: #000;
    /* padding: 10%; */
    width: 100%;
    margin: auto auto;
    /* height: fit-content; */
  }

  .label-counselling {
    display: flex;
    justify-content: start;
  }

  .side-bar {
    position: fixed;
    width: 75%;
    z-index: 100;
  }

  .services-apply {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: relative;
    z-index: 1;
    bottom: 3.5rem;
    background-color: #efefef;
  }
}

@media screen and (orientation: landscape) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
